.App {
  text-align: center;
}
body{
  background: rgb(217, 54, 54);
  background: linear-gradient(90deg,rgb(21, 0, 255) , #00d4ff );
}



#task-container{
  
  margin:0 auto;
  box-shadow: 0 14px 28px #0004ff, 0 10px 10px #00d4ff ;
  background-color: #fff;
  
  margin-top:100px;
  margin-bottom:100px;

  justify-content: space-around;
  align-items: flex-start;

}

#submit{
  margin:0px ;
  background-color: #8836d9;
  border-radius: 5;
  border:0;
  color: #fff;
}

#form-wrapper{
  border-bottom: 1px solid  linear-gradient(90deg,rgb(21, 0, 255) , #00d4ff );
  background-color: linear-gradient(90deg,#1500ff , #00d4ff );
  box-shadow: 0 3px 8px #1500ff;
  padding:40px;
}
.flex-wrapper{
  display: flex;
}